    body {
      margin: 0;
      padding: 0;
      font-family: arial, helvetica,sans-serif;
    }
    h1 {
      margin: 0;
      padding: 0; 
      float: left;  
    }
    .fixed_width {
      width: 980px;
      margin: 0 auto;
    }
    .break {
      clear: both;
    }
    #marquee {
      color: white;
      font-family: arial;
      font-weight: bold;
      background-color: #990000;
      height: 128px;
      z-index: 0;
      background-image: url("/images/globe_crop.png");
      background-position: right center;
      background-repeat: no-repeat;
    }
    #top_navbar {
      height: 40px;
      width: 100%;
      background-color: rgba(0,0,0,0.2);
      float: left;
      padding: 0;
      margin: 0;
    }
    .top_navbar_cell { 
      height: 40px;
      border-right: 1px solid rgba(255,255,255,0.1);
      float: left;
      display: inline;
    }
    #top_navbar_logo {
      float: left;
      padding: 5px 12px;
    }
    #top_navbar_menu {
      padding: 0;
      margin :0;
      font-size: small;

    }
    #top_navbar_menu ul {
      padding: 0;
      margin :0;
      height: 40px;
      float: left;
    }
    #top_navbar_menu ul li {
      list-style-type: none;
      display: inline-block;
      border-right: 1px solid rgba(255,255,255,0.1);
      float: left;
      padding: 12px 12px;
    }
    #search_box_div {
      display: inline;
      float: left;
      margin: 0;
      padding: 8px;
    }
    #search_box {
      border: none;
      display: inline;
      padding-left: 10px;
      width: 130px;
      height: 20px;
      margin: 0;
      background-image: url("/images/small_magnifying_glass.png");
      background-repeat: no-repeat;
      background-position: right center;
    }
    .globe_logo {
      z-index: 10;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    #header {
      position: relative;
      bottom: 0;
      height: 88px;
    }
    #title_row {
      height: 60px;   
      padding: 0;
      position: relative;
      float: left;
      width: inherit;
    }
    #title_row h1 {
      font-size: 275%;
      font-weight: normal;
      font-family: helvetica;
      position: absolute; 
      bottom: 3px; 
      left: 9px;
      display: inline;

    }
    #header_date {
      font-weight: normal;
      white-space: nowrap;
      font-size: 75%;
      position: absolute; 
      bottom: 0px;
      left: 155px;
      float: left;
    } 
    #update_time {
      float: left;
      font-size: 75%;
      font-weight: normal;
      display: inline;
    }
    #bottom_navbar_menu {   
      margin-top: 4px;
    }
    #bottom_navbar_menu ul {
      margin: 0px 0px 0px 0px;;
      padding: 6px 2px 6px 2px;
      z-index: 1;
      height: 12px;
      background-color: #3E0C0D;
    }
    #bottom_navbar_menu ul li {
      list-style-type: none;
      display: inline-block;
      float: left;
      font-size: 0.75em;
      border-right: 1px solid gray;
      padding: 0px 5px 0px 5px;
    }
    #content {
      margin-top: 10px;
      color: #555050;
    }
    #top_story {
      width: 620px;
      font-size: small;
      margin-right: 0;
      float: left;
    }
    #top_story h1 {
      color: #1F4F82;
      font-size: 250%;
      float: none;
    }
    #top_story p {
      margin-top: 3px;
    }
    #top_story_img {
      margin-top: 6px;
      margin-right: 10px;
      float: left;
    }
    .see-also {
      color: #1F4F82;
    }
    .see-also a:hover {
      text-decoration: underline;
    }
    .video-link {
      background-image: url("/images/triangle.png");
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 24px;
    }
    #features {
      background-color: #EDEDED;
      width: 360px;
      float: right;
    }
    #features h2 {
      font-size: 150%;
      float: none;
      margin: 6px 6px 0px 10px;
    }
    .featured-story {
      padding: 6px 6px 3px 6px;
      font-size: small;
      margin: 6px 6px 3px 6px;
    }
    .featured-thumb {
      float: left;
      margin-right: 6px;
    }
    .featured-story h3 {
      margin: 0;
      color: #1F4F82;
      font-size: large;
    }
    .featured-story p {
      margin: 3px 3px 8px 6px;
    }
