<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample Site</title>
    <!-- Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <style type="text/css">
      .container {
        width: 100%;
        margin: 0;
      }
      .box {
        border: 1px solid gray;
        background-color: @brand-primary;
      }
      .top-buffer { margin-top:20px; }
      .navbar-brand {
        font: 100 25px/1 'Pacifico', Helvetica, sans-serif;
        color: #2b2b2b;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 0px rgba(0,0,0,0.05);
      }
      #welcome-div {
        width: 100%;
        background-image: url("images/Bokeh_Background.jpg");
        background-size: cover;
        text-align: center;
        color: LightGrey;
      }
      #topRow {
        margin-top: 150px;
        color: OldLace;
      }
      #topRow h1 {
        font-size: 350%;
        text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
        width: 100%;
        }
      .lead {
        font-size: x-large;
      }
      #features-div {
        margin-top: 50px;
      }      
      #features-div .col-md-4 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      #download {
        text-align: center;
        background-color:LightBlue;
        width: 100%;
      }
      #download img {
        width: 250px
      }
      .contentDiv {
        height:800px;
        width: 100%;
      }
      #page-tabs {
        float: left;
      }
      #login-div {
        margin-top: 8px;
        float: right;
      }
      #login-div input-group {
        float: left;
      }
      .title {
        margin-top: 150px;
      }
      .features-copy {
        text-align: center;
      }
      .center {
        text-align: center;
      }
    </style>
    <title>Awesome App</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script>
      $(".contentDiv").css("height",$(window).height());
    </script>
  </body>
</html>