<!DOCTYPE html>
<html>
<head>
  <title>BBC Clone</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  <div id="container">
    <div id="marquee">
      <div id="top_navbar">
        <div class="fixed_width">
          <div class="top_navbar_cell">
            <img id="top_navbar_logo" src="/images/bbc_logo_small.png">
          </div>
          <div class="top_navbar_cell" style="width:150px"></div>
          <div id="top_navbar_menu">
            <ul>
              <li>News</li>
              <li>Sport</li>
              <li>Weather</li>
              <li>Earth</li>
              <li>Future</li>
              <li>Shop</li>
              <li>TV</li>
              <li>Radio</li>
              <li>More...</li>
            </ul>
          </div>
          <div id="search_box_div">
            <input id="search_box" type="text" name="query" placeholder="Search">
          </div>
        </div>
      </div>
      <div class="break"></div>
      <div class="fixed_width">
        <div id="header">
          <div id="title_row">
            <h1>NEWS</h1>
            <p id="header_date"><strong>{{header_date}}</strong>&nbsp;&nbsp;Last updated {{last_updated}}</p>
          </div>
          <div class="break"></div>
          <div id="bottom_navbar_menu">
            <ul>
              <li>Home</li>
              <li>US & Canada</li>
              <li>Latin America</li>
              <li>UK</li>
              <li>Africa</li>
              <li>Asia</li>
              <li>Australia</li>
              <li>Europe</li>
              <li>Mid-East</li>
              <li>Business</li>
              <li>Health</li>
              <li>Sci/Environment</li>
              <li>Tech</li>
              <li>Entertainment</li>
              <li>Video</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="content">
      <div class="fixed_width">
        <div id="top_story">
          <h1>World celebrations bring in 2015</h1>
          <img id="top_story_img" src="/images/top_story.jpg">
          <p>Revellers across the globe gather to welcome in the new year, with Asian nations following New Zealand and Australia into 2015.</p>
          <ul class="see-also">
              <li><a class="video-link">Fireworks display mark 2015</a></li>
          </ul>
        </div>
        <div id="features">
          <h2>Features</h2>
          <div class="featured-story">
            <img class="featured-thumb" src="/images/ebola.jpg">
            <h3>'Fear of the red eye'</h3>
            <p>A year of living amid Ebola outbreak in Sierra Leone</p>
          </div>
          <div class="featured-story">
            <img class="featured-thumb" src="/images/ocean.jpg">
            <h3>'Underwater Walk'</h3>
            <p>How to map the ocean floor in 15 seconds</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>