{% extends "/base.html" %}
{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="" class="navbar-brand">Awesome App</a> 
    </div>
    <div id="page-tabs" class="navbar-collapse">
      <ul class="nav navbar-nav">
      <li class="active"><a href="#welcome-div">Welcome</a></li>
      <li><a href="#features-div">Features</a></li>
      <li><a href="#download">Download</a></li>
      </ul>
    </div>
    <form class="navbar-form navbar-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
        </div>
        <input class="form-control" type="password" placeholder="Password" aria-describedby="sizing-addon3">
        <button class="btn btn-primary btn-md">
          <span class="glyphicon glyphicon-log-in"></span>
          Log In
        </button>
    </form>
  </div>
</div>
<div id="welcome-div" class="container contentDiv">
  <div class="row">
    <div id="topRow" class="col-md-6 col-md-offset-3">
      <h1>
        Awesome App is live!
      </h1>
      <p class="lead">Signup for our free trial</p>
      <p>New features you need to see!</p>
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon3">@</span>
        <input type="email" class="form-control" placeholder="Enter your email" aria-describedby="sizing-addon3">
      </div>
      <input type="submit" class="btn btn-success btn-lg top-buffer">
    </div>
  </div>
</div>
<div id="features-div" class="container contentDiv">
<div class="row"> 
  <h2>Features</h2>
</div>
  <div class="col-md-4">
    <img src="http://placekitten.com/g/320/240">
    <h2 class="center"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
      Hands Up
    </h2>
    <p>This is what happens when you snooze all day. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <p><a class="btn btn-primary btn-lg center-block" href="#" role="button">Learn more</a></p>
  </div>
  <div class="col-md-4">      
    <img src="http://placekitten.com/g/320/240">
    <h2 class="center"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>
      Baby
    </h2>
    <p>This is what happens when you snooze all day. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><a class="btn btn-primary btn-lg center-block" href="#" role="button">Learn more</a></p>
  </div>
  <div class="col-md-4">      
    <img src="http://placekitten.com/g/320/240">
    <h2 class="center"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      Hands Up
    </h2>
    <p>This is what happens when you snooze all day. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p><a class="btn btn-primary btn-lg center-block" href="#" role="button">Learn more</a></p>
  </div>
</div>
<div id="download" class="contentDiv container">
  <h2 class="title">Click here to download the App</h2>
  <img src="images/available-on-iphone-app-store-logo.png">
</div>
{% endblock %}